.main {
  /* position: relative; */
  /* width: 1440px; */
  /* height: 3652px; */
  /* background: rgb(150, 144, 144); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.rectangle37 {
  /* position: absolute; */
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  /* background: green; */
  /* box-shadow: 0px 0.5px 0px #dddfe6; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.group4 {
  width: 369px;
  height: 24px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hello {
  width: 39px;
  height: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
  /* background: greenyellow; */
}
.hello a{
  /* text-decoration: none; */
  color: #1A2236;
}

.portafolio {
  width: 66px;
  height: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

.portafolio a{
  text-decoration: none;
  color: #1A2236;
}

.about {
  width: 48px;
  height: 24px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

.about a{
  text-decoration: none;
  color: #1A2236;
}
.contact {
  width: 66px;
  height: 24px;
  left: 303px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #1a2236;
}

.contact a{
  text-decoration: none;
  color: #1A2236;
}
.pageone {
  width: 1440px;
  height: 726px;
  left: 0px;
  top: 100px;
  /* background: green; */
  display: flex;
  flex-direction: row;
}

.oneleft {
  width: 50%;
  height: 726px;
  /* background: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.group48 {
  width: 484px;
  height: 493px;
  /* background: plum; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.charlie {
  width: 484px;
  height: 220px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 7vh;
  line-height: 100%;
  color: #1a2236;
  /* background: purple; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.helloiam {
  /* position: absolute; */
  width: 484px;
  height: 84px;
  /* left: 160px; */
  top: 272px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;

  color: #1a2236;
}

.group19 {
  width: 254px;
  height: 70px;
  bottom: 0px;
  background: rebeccapurple;
}
.rectangle20 {
  width: 254px;
  height: 70px;
  background: #1a2236;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  /* position: absolute; */
  width: 203.68px;
  height: 26.47px;
  /* left: 185.16px; */
  left: 25px;
  /* top: 736.76px; */
  top: 25px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.oneright {
  width: 50%;
  /* background: red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: chartreuse; */
}

.imagegeometry {
  /* position: absolute; */
  /* width: 702px; */
  width: 100%;
  height: 60%;
  /* left: 738px; */
  /* top: 100px; */
  /* background: cornflowerblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/2.jpg');
  background-size: cover;
  /* background-position:left; */


}
.imagegeometry:hover{
  /* filter: blur(3px); */
  /* filter: grayscale(1); */
  filter: saturate(2.2);
}

.pagetwo {
  width: 1440px;
  height: 642px;
  /* background: rgb(152, 206, 152); */
  display: flex;
  flex-direction: row;
}

.twoleft {
  width: 30%;
  height: 100%;
  /* background: greenyellow; */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.tworight {
  width: 70%;
  height: 100%;
  /* background: red; */
}
.projects {
  width: 398px;
  height: 110px;
  margin-top: 150px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  /* background-color: #92DCDC; */
  color: #1a2236;

  transform: rotate(-90deg);
}

.group89 {
  width: 100%;
  height: 100%;
  /* background: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rectangle21 {
  width: 100%;
  height: 60%;
  /* background: rgb(174, 174, 190); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/vava.png');
  background-size: cover;
}

.rectangle22 {
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
  display: flex;
  justify-content: center;
  align-items: center;
}

.group76 {
  width: 80%;
  height: 80%;
  /* background: blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectname {
  width: 726px;
  height: 48px;
  font-family: Poppins;
  font-style: normal;
  font-size: 60px;
  line-height: 80%;
  color: #ffffff;
}

.skills {
  width: 70%;
  height: 40px;
  /* background: chocolate; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
}

.skillsdetails {
  width: 150px;
  height: 40px;
  background: #98dede;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #1a2236;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}

.group19 {
  width: 212px;
  height: 51px;
  left: 540px;
  top: 1634px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.seethis {
  height: 27px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vh;
  color: #1a2236;
  /* background: chocolate; */
}

.icarroy {
  width: 24px;
  height: 27px;
  /* font-size: 1.3vh; */
  /* background: chartreuse; */
}

.pagethree {
  width: 1440px;
  height: 700px;
  /* background: green; */
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  align-items: center;
}

.projectsmall {
  width: 25%;
  height: 70%;
  /* background: beige; */
  display: flex;
  flex-direction: column;
}

.rectangle222{
  display: none;
}
.rectangle45{
  width: 100%;
  height: 40%;
  background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
  backdrop-filter: blur(24px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.projectnamesmall{
  width: 80%;
  height: 20%;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8vh;
  line-height: 80%;
  color: #FFFFFF;
  /* background:rgba(150, 161, 190, 0.95); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.skillssmall {
  width: 80%;
  height: 17%;
  /* background: chocolate; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.skillsdetailssmall {
  padding-left: 0.7vh;
  padding-right: 0.7vh;
  height: 100%;
  background: #98dede;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2vh;
  line-height: 80%;
  color: #1a2236;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.group77{
  width: 80%;
  height: 20%;
  /* background: #c22828; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.group777{
  width: 62%;
  height: 100%;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
.seethissmall {
  width: 70%;
  height: 80%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2vh;
  line-height: 27px;
  text-align: center;
  color: #1a2236;
  /* background: chocolate; */
}

.icarroysmall {
  width: 10%;
  height: 60%;
  /* background: chartreuse; */
}

.rectangle26 {
  width: 100%;
  height: 60%;
  /* background: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle26 img{
  width: 100%;  
}


.pagefour {
  width: 1440px;
  height: 726px;
  /* background: sienna; */
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
.aboutgroupsecond{
  display: none;
}
.fourleft {
  width: 50%;
  height: 100%;
  /* background: silver; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.habilities{
  width: 80%;
  height: 80%;
  /* background: gold; */
  display: flex;
flex-wrap: wrap;
}

.languages{
  width: 50%;
  height: 50%;
  background: rgb(56, 84, 119);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 68%;
  height: 70%;
  /* background: orchid; */
  display: flex;
  flex-direction: column;
}

.titlelanguages {
  width: 100%;
  height:30%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  font-size: 1.5vh;
  line-height: 30px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detaillanguages {
  width: 100%;
  height:70%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1.3vh;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  /* background: cyan; */
}

.detaillanguages ul li span
{
  margin-left: -15px;
}

.detaillanguages ul,li{
  list-style-position:inside;
  margin:0;
  padding:0;
  
}

.skillsyellow{
  width: 50%;
  height: 50%;
  background: rgb(224, 114, 123);
  display: flex;
  justify-content: center;
  align-items: center;
}

.frameworks{
  width: 50%;
  height: 50%;
  background: rgb(248, 192, 94);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourright {
  width: 50%;
  height: 100%;
  /* background: gainsboro; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutgroup {
  width: 80%;
  height: 50%;
  /* background: gold; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.aboutcv{
  width: 100%;
  height: 30%;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 10vh;
  line-height: 100%;
  color: #1A2236;
  /* background: chartreuse; */
}

.aboutdescription {
  width: 100%;
  height: 40%;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #1A2236;
  /* background: chocolate; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cv{
  width: 50%;
  height: 20%;
  background: #1A2236;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cvtext{
  /* position: absolute; */
width: 150px;
height: 27px;
/* left: 889px;
top: 3362px; */

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.cvdownloadlogo{
  width: 40px;
  height: 17.79px;
  color: #FFFFFF;
}

.pagefive{
  width: 1440px;
  height: 726px;
  /* background: sienna; */
  box-shadow: 0px 0.5px 0px #dddfe6;
  display: flex;
  flex-direction: row; 
 justify-content: center;
 align-items: center;
 background: #F9F9FA;
}

.form{
  width: 40%;
  height: 90%;
  /* background: burlywood; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.get{
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 9vh;
  line-height: 100%;
  color: #1A2236;
  /* background: chartreuse; */
  width: 100%;
  height: 20%;
}

.formtext{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1A2236;
  /* background: cornflowerblue; */
  width: 100%;
  height: 15%;
}

.contactg{
  width: 100%;
  height: 50%;
  /* background: rgb(240, 243, 52); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.nameemail {
  width: 100%;
  height: 25%;
  /* background: chartreuse; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name{
  width: 46.5%;
  height: 100%;
  /* background:darkcyan ; */
  display: flex;
  flex-direction: column;
}
.namelabel{
  width: 100%;
  height: 30%;
  /* background: darkgreen; */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9vh;
  line-height: 18px;
  color: #7D7C84;
}
.nametextbox {
  width: 100%;
  height: 70%;
  /* background: darkseagreen; */
}
.nameinput{
  width: 97%;
  height: 97%;
  border-radius: 5px;
  border: 0.5px solid #E0E0E0;
}
.email{
  width: 46.5%;
  height: 100%;
  /* background:darkgoldenrod ; */
}

.emaillabel{
  width: 100%;
  height: 30%;
  /* background: darkseagreen; */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9vh;
  line-height: 18px;
  color: #7D7C84;
}

.emailtextbox{
  width: 100%;
  height: 70%;
  /* background: darkslateblue; */
}

.emailinput{
  width: 97%;
  height: 97%;
  border-radius: 5px;
  border: 0.5px solid #E0E0E0;
}


.message{
  width: 100%;
  height: 50%;
  /* background: chocolate; */
}

.messagelabel{
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9vh;
  line-height: 18px;
  color: #7D7C84;
}

.messagetextbox {
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 150px;
}
.messagetextboxinput{
  background: #FFFFFF;
  border: 0.5px solid #E0E0E0;
  box-sizing: border-box;
  /* border-radius: 4px; */
  width: 100%;
  height: 80%;
  border-radius: 5px;
}
.bottom {
  width: 100%;
  height: 20%;
  /* background: darkblue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.startcollaboration{
  width: 50%;
  height: 100%;
  background: #1A2236;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.startcollaborationtext {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;

}

.footer{
  /* background: chartreuse; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footercontent{
  width: 1440px;
  height: 123px;
  background: #1A2236;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.getmycv {
  width: 10%;
  height: 50%;
  /* background: cadetblue; */
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.getmycvlabel{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  
  text-align: center;
  
  color: #92DCDC;
}

.getmycvicon{
  color: #92DCDC;
}
.socialcontent {
  width: 20%;
  height: 50%;
  background: rgb(236, 233, 228);
  margin-right: 10%;
}

@media screen and (max-width: 1023px) {
  .main{ 
    background: rgb(150, 144, 144);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rectangle37{ 
    width: 1023px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #92DCDC;
    /* background: green; */
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .group4 {
    width: 369px;
    height: 24px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .pageone {
    width: 1023px;
    height: 726px;
    left: 0px;
    top: 100px;
    background: green;
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: row;
  }

  .oneleft {
    width: 50%;
    height: 726px;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .group48 {
    /* position: absolute; */
    width: 90%;
    height: 493px;
    /* left: 160px; */
    /* top: 292px; */
    background: plum;
  }

  .charlie {
    width: 100%;
    height: 220px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;
    line-height: 100%;
    color: #1a2236;
    /* border: 1px solid #1a2236; */
    background: purple;
  }

  .helloiam {
    width: 100%;
    height: 84px;
    top: 272px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1a2236;
  }

  .pagetwo {
    width: 1023px;
    height: 726px;
    background: green;
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: row;
  }

  .pagethree {
    width: 1023px;
    height: 726px;
    /* left: 0px; */
    /* top: 100px; */
    /* background: #ffffff; */
    background: green;
    /* box-shadow: 0px 0.5px 0px #dddfe6; */
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
  }

  .projectsmall {
    width: 30%;
    height: 488px;
    background: beige;
  }

  .rectangle45{
    width: 100%;
    height: 218px;
    background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
    backdrop-filter: blur(24px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .projectnamesmall{
    width: 80%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 2vh;
    line-height: 80%;
    color: #FFFFFF;
  }

  .rectangle26 {
    width: 100%;
    height: 270px;
    background: url(image.png);
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: blueviolet;
  }

  .skillssmall{
    width:90%;
    height: 40px;
    background: chocolate;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .skillsdetailssmall {
    padding: 12px;
    background: #98dede;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1vh;
    line-height: 80%;
    color: #1a2236;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }

  .pagefour {
    width: 1023px;
    height: 726px;
    /* left: 0px; */
    /* top: 100px; */
    /* background: #ffffff; */
    background: sienna;
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
  }

  .pagefive{
    width: 1023px;
    height: 726px;
    /* left: 0px; */
    /* top: 100px; */
    /* background: #ffffff; */
    background: sienna;
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
  }

  .form{
    width: 70%;
    height: 70%;
  
    background: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footercontent{
    width: 1023px;
    height: 123px;
    background: #1A2236;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .getmycv {
    width: 15%;
    height: 50%;
    background: cadetblue;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .rectangle37{
    display: none;
  }

  .pageone{
    width: 768px;
    height: 726px;
    left: 0px;
    top: 100px;
    background: green;
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: row;
  }
  .oneleft {
    width: 100%;
    height: 726px;
    background: rgb(8, 129, 129);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .group48 {
    width: 90%;
    height: 493px;
    background: plum;
  }
  .oneright{
    display: none;
  }
  .group19 {
    width: 100%;
    height: 70px;
    bottom: 0px;
    background: rebeccapurple;
  }
  .rectangle20 {
    width: 90%;
    height: 70px;
    background: #1a2236;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagetwo {
    width: 768px;
    height: 526px;
    background: green;
    /* box-shadow: 0px 0.5px 0px #dddfe6; */
    display: flex;
    flex-direction: row;
  }
  .twoleft {
    width: 100%;
    height: 100%;
    background: greenyellow;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-top: 0px;
  }
  .projects {
    transform: rotate(0deg);
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1A2236;
  }

  .tworight {
    display: none;
  }

  .pagethree {
    width: 768px;
    height: 1200px;
    /* left: 0px; */
    /* top: 100px; */
    /* background: #ffffff; */
    background: green;
    /* box-shadow: 0px 0.5px 0px #dddfe6; */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
  }

  .projectsmall {
    width: 100%;
    height: 33%;
    background: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rectangle222{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    background: red;

  }
  .rectangle45{
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
    backdrop-filter: blur(24px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }
  .projectnamesmall{
    margin-left: 5%;
    width: 70%;
    height: 15%;
    background: chartreuse;
    font-family: Poppins;
    font-style: normal;
    /* font-weight: bold; */
    font-size: 1.7vh;
    /* line-height: 60%; */
    color: #FFFFFF;
  }

  .skillssmall {
    margin-left: 5%;
    width:50%;
    height: 40px;
    background: chocolate;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .group77{
    margin-left: 5%;
    width: 212px;
    height: 51px;
    /* left: 540px;
    top: 1634px; */
  
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .rectangle26{
    display: none;
  }

  .pagefour{
    width: 768px;
    height: 1200px;
    /* left: 0px; */
    /* top: 100px; */
    /* background: #ffffff; */
    background: sienna;
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
  }
  .aboutgroupsecond{
    background: beige;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aboutcv{
    width: 90%;
    height: 110px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 110px;
    line-height: 100%;
    color: #1A2236;
  }
  .aboutdescription {
    width: 90%;
    height: 84px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #1A2236;
  }
  .cv{
    width: 90%;
    height: 70px;
    background: #1A2236;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .fourleft {
    width: 100%;
    height: 75%;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fourright{
    display: none;
  }

  .habilities{
    width: 90%;
    height: 100%;
    /* height: 80%; */
    background: gold;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: ; */
    /* flex-wrap: wrap; */
  }
  .languages{
    width: 100%;
    height: 30%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content{
    width:90%;
    /* height: 80%; */
    background: orchid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .titlelanguages {
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    /* line-height: 30px; */
    color: #FFFFFF;
    background: chartreuse;
    width: 100%;
  }
  .detaillanguages {
    width: 100%;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    /* line-height: 27px; */
    /* letter-spacing: -0.0525em; */
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    /* background: ; */
    }
    
    .detaillanguages ul li span
    {
      margin-left: -8px;
    }

    .skillsyellow{
      width: 100%;
      height: 30%;
      background: red;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .frameworks{
      width: 100%;
      height: 30%;
      background: orange;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .pagefive{
      width: 768px;
      height: 726px;
      /* left: 0px; */
      /* top: 100px; */
      /* background: #ffffff; */
      background: sienna;
      box-shadow: 0px 0.5px 0px #dddfe6;
      display: flex;
      flex-direction: row; 
     justify-content: center;
     align-items: center;
    }

    .form{
      width: 90%;
      height: 70%;
      background: burlywood;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    .footercontent{
      width: 768px;
      height: 150px;
      background: #1A2236;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
    }
    .getmycv {
      width: 30%;
      height: 25%;
      background: cadetblue;
      margin-left: 5%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .socialcontent {
      width: 60%;
      height: 25%;
      margin-left: 5%;
      background: burlywood;
      margin-right: 10%;
    }
}


@media screen and (max-width: 320px) {
  .pageone{
    width: 320px;
    height: 460px;
    left: 0px;
    top: 0px;
    background: yellow;
    /* box-shadow: 0px 0.5px 0px #dddfe6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .oneleft {
    width: 100%;
    height: 100%;
    background: rgb(8, 129, 129);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .oneright{
    display: none;
  }
  .group48 {
    width: 95%;
    height: 100%;
    background: plum;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .charlie {
    width: 100%;
    height: 60%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 4.8vh;
    color: #1a2236;
    background: purple;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .helloiam {
    width: 100%;
    height: 30%;
    top:0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2vh;
    line-height: 1.7vh;
    letter-spacing: -0.01em;
    background: rgb(150, 144, 144);
    color: #1a2236;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .group19 {
    width: 100%;
    height: 10%;
    bottom: 0px;
    background: rebeccapurple;
  }

  .rectangle20 {
    width: 90%;
    height: 90%;
    background: #1a2236;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .start {
    width: 90%;
    height: 90%;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vh;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .pagetwo {
    width: 320px;
    height: 300px;
    /* left: 0px; */
    /* top: 100px; */
    /* background: #ffffff; */
    background: green;
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .twoleft {
    width: 100%;
    height: 100%;
    background: greenyellow;
    display: flex;
    /* justify-content: flex-start; */
    align-items: flex-end;
    justify-content: center;
  }
  .projects {
    width: 90%;
    height: 20%;
    margin-top: 0px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 3.9vh;
    line-height: 100%;
    background-color: #92DCDC;
    color: #1a2236;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .pagethree {
    width: 320px;
    height: 1024px;
    /* left: 0px; */
    /* top: 100px; */
    /* background: #ffffff; */
    background: green;
    /* box-shadow: 0px 0.5px 0px #dddfe6; */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
  }

  .projectsmall {
    width: 100%;
    height: 33%;
    background: beige;
  }

  .rectangle222{
    width: 100%;
    height: 55%;
    background: #7D7C84;
  }

  .rectangle45{
    width: 100%;
    height: 45%;
    background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
    backdrop-filter: blur(24px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .projectnamesmall{
    width: 90%;
    height: 20%;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vh;
    /* line-height: 80%; */
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .skillssmall {
    width:90%;
    height: 20%;
    background: chocolate;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .skillsdetailssmall {
    height: 100%;
    padding: 0px;
    padding-left: 5%;
    padding-right: 5%;
    background: #98dede;
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1vh;
    /* line-height: 80%; */
    color: #1a2236;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .group77{
    width: 60%;
    height: 20%;
    /* left: 540px;
    top: 1634px; */
  
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .pagefour{
    width: 320px;
    height: 1200px;
    /* left: 0px; */
    /* top: 100px; */
    /* background: #ffffff; */
    background: sienna;
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
  }

  .aboutgroupsecond{
    background: beige;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .aboutcv{
    width: 90%;
    height: 30%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 5vh;
    line-height: 100%;
    color: #1A2236;
    background: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .aboutdescription {
    width: 90%;
    height: 40%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1vh;
    line-height: 1.5vh;
    color: #1A2236;
  }

  .cv{
    width: 90%;
    height: 15%;
    background: #1A2236;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .pagefive{
    width: 320px;
    height: 726px;
    /* left: 0px; */
    /* top: 100px; */
    /* background: #ffffff; */
    background: sienna;
    box-shadow: 0px 0.5px 0px #dddfe6;
    display: flex;
    flex-direction: row; 
   justify-content: center;
   align-items: center;
  }

  .form{
    width: 90%;
    height: 100%;
    background: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .get{
    width: 100%;
    height: 20%;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 3.5vh;
    line-height: 100%;
    text-align: center;
    color: #1A2236;
    background: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }

  .formtext{
    width: 100%;
    height: 35%;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #1A2236;
    background: cornflowerblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contactg{
    width: 100%;
    height: 30%;
    background: azure;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }

  .nameemail {
    width: 100%;
    height: 40%;
    background: chartreuse;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .name{
    width: 100%;
    height: 50%;
    background:darkcyan ;
    display: flex;
    flex-direction: column;
  }

  .email{
    width: 100%;
    height: 50%;
    background:darkgoldenrod ;
  }

  .message{
    width: 100%;
    height: 40%;
    background: chocolate;
  }

  .messagetextbox {
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 90%;
  }

  .bottom{
    width: 100%;
    height: 20%;
    background: wheat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .startcollaboration{
    width: 100%;
    height: 70%;
    background: #1A2236;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .startcollaborationtext {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2vh;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF; 
  }

  .footercontent{
    width: 320px;
    height: 150px;
    background: #1A2236;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }


  .getmycv {
    width: 35%;
    height: 35%;
    background: cadetblue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .getmycvlabel{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1vh;
    line-height: 27px;
    color: #92DCDC;
    background: wheat;
  }

  .socialcontent {
    width: 80%;
    height: 35%;
    background: burlywood;
    /* margin-right: 10%; */
  }


}