.main {
  position: relative;
  width: 1440px;
  height: 4852px;
  background: rgb(150, 144, 144);
  display: flex;
  flex-direction: column;
}

.rectangle37 {
  position: absolute;
  width: 1440px;
  height: 100px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  /* background: green; */
  box-shadow: 0px 0.5px 0px #dddfe6;
}

.group4 {
  /* Group 4 */
  position: absolute;
  /* width: 24px; */
  /* height: 369px; */
  width: 369px;
  height: 24px;
  left: 536px;
  top: 62px;
  /* transform: rotate(-90deg); */
  /* background-color: red; */
}

.hello {
  position: absolute;
  width: 39px;
  height: 24px;
  /* left: 536px; */
  /* top: 38px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: right;

  color: #1a2236;
  background: greenyellow;
}

.portafolio {
  position: absolute;
  width: 66px;
  height: 24px;
  /* left: 625px; */
  left: 89px;
  /* top: 38px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: right;

  color: #1a2236;
}

.about {
  position: absolute;
  width: 48px;
  height: 24px;
  /* left: 741px; */
  left: 205px;
  /* top: 38px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: right;

  color: #1a2236;
}

.contact {
  position: absolute;
  width: 66px;
  height: 24px;
  /* left: 839px; */
  left: 303px;
  /* top: 38px; */

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */

  text-align: right;

  color: #1a2236;
}

.pageone {
  /* position: absolute; */
  width: 1440px;
  height: 726px;
  left: 0px;
  top: 100px;
  /* background: #ffffff; */
  background: green;
  box-shadow: 0px 0.5px 0px #dddfe6;
  display: flex;
  flex-direction: row;
}

.oneleft {
  width: 50%;
  height: 726px;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group48 {
  position: absolute;
  width: 484px;
  height: 493px;
  /* left: 160px; */
  /* top: 292px; */
  background: plum;
}
.charlie {
  /* position: absolute; */
  width: 484px;
  height: 220px;
  /* left: 160px; */
  /* top: 292px; */

  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  /* or 110px */

  color: #1a2236;

  border: 1px solid #1a2236;

  background: purple;
}
.helloiam {
  /* position: absolute; */
  width: 484px;
  height: 84px;
  /* left: 160px; */
  top: 272px;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;

  color: #1a2236;
}

.group19 {
  /* position: absolute; */
  /* left: 11.11%; */
  /* right: 71.25%; */
  /* top: 14.74%; */
  /* bottom: 83.82%; */
  width: 254px;
  height: 70px;
  bottom: 0px;
  background: rebeccapurple;
}
.rectangle20 {
  /* position: absolute; */
  width: 254px;
  height: 70px;
  /* left: 160px; */
  /* top: 715px; */

  background: #1a2236;
}

.start {
  /* position: absolute; */
  width: 203.68px;
  height: 26.47px;
  /* left: 185.16px; */
  left: 25px;
  /* top: 736.76px; */
  top: 25px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.oneright {
  width: 50%;
  background: red;
  height: 726px;
}

.imagegeometry {
  /* position: absolute; */
  /* width: 702px; */
  height: 726px;
  /* left: 738px; */
  /* top: 100px; */
  background: cornflowerblue;
}
.pagetwo {
  /* position: relative; */
  width: 1440px;
  height: 726px;
  /* left: 0px; */
  /* top: 100px; */
  /* background: #ffffff; */
  background: green;
  box-shadow: 0px 0.5px 0px #dddfe6;
  display: flex;
  flex-direction: row;
}

.twoleft {
  width: 30%;
  height: 100%;
  background: greenyellow;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.tworight {
  width: 70%;
  /* height: 60%; */
  background: red;
  /* height: 726px; */
}
.projects {
  width: 398px;
  height: 110px;
  /* left: 145px;
  top: 1585px; */
  margin-top: 150px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  /* identical to box height, or 110px */

  color: #1a2236;

  border: 1px solid #1a2236;
  transform: rotate(-90deg);
}

.group89 {
  width: 100%;
  height: 558px;
  left: 480px;
  top: 1187px;
  background: yellow;
  display: flex;
  flex-direction: column;
}

.rectangle21 {
  width: 100%;
  height: 35%;
  background: white;
}

.rectangle22 {
  width: 100%;
  height: 75%;
  background: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group76 {
  width: 726px;
  height: 233px;
  background: blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projectname {
  width: 726px;
  height: 48px;
  /* left: 540px;
top: 1452px; */

  font-family: Poppins;
  font-style: normal;
  /* font-weight: bold; */
  font-size: 60px;
  line-height: 80%;
  /* identical to box height, or 48px */
  color: #ffffff;
}

.skills {
  width: 70%;
  height: 40px;
  background: chocolate;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
}

.skillsdetails {
  width: 150px;
  height: 40px;
  /* left: 540px;
top: 1534px; */

  background: #98dede;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  /* identical to box height, or 16px */

  color: #1a2236;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}

.group19 {
  width: 212px;
  height: 51px;
  left: 540px;
  top: 1634px;

  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.seethis {
  /* width: 139px; */
  height: 27px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  color: #1a2236;
  background: chocolate;
}

.icarroy {
  width: 24px;
  height: 24px;
  background: chartreuse;
}

.pagethree {
  width: 1440px;
  height: 726px;
  /* left: 0px; */
  /* top: 100px; */
  /* background: #ffffff; */
  background: green;
  box-shadow: 0px 0.5px 0px #dddfe6;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.projectsmall {
  width: 465px;
  height: 488px;
  background: beige;
}
.rectangle45{
  width: 465px;
height: 218px;
/* left: 975px;
top: 1797px; */

background: linear-gradient(0deg, rgba(26, 34, 54, 0.95), rgba(26, 34, 54, 0.95));
backdrop-filter: blur(24px);
display: flex;
flex-direction: column;
justify-content: space-around;

}

.rectangle26 {
  width: 465px;
height: 270px;
/* left: 975px;
top: 2015px; */

background: url(image.png);
border: 1px solid rgba(255, 255, 255, 0.1);
background: blueviolet;
}

.projectnamesmall{
  /* width: 411px;
  height: 32px; */
/* left: 1005px;
top: 1827px; */
width: 80%;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 80%;
/* padding-left: 4%;
padding-top: 4%; */
/* identical to box height, or 32px */


color: #FFFFFF;
}

.skillssmall{
  width: 94px;
height: 16px;
/* left: 1025px;
top: 1891px; */

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 80%;
/* identical to box height, or 16px */

background: #98DEDE;
color: #1A2236;
}

.group77{
  width: 212px;
  height: 51px;
  left: 540px;
  top: 1634px;

  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.seethissmall {
  /* width: 139px; */
  height: 27px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-align: center;

  color: #1a2236;
  background: chocolate;
}

.icarroysmall {
  width: 24px;
  height: 24px;
  background: chartreuse;
}

.skillssmall {
  width:90%;
  height: 40px;
  background: chocolate;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* justify-content: center; */
}

.skillsdetailssmall {
  /* margin: 10px; */
  padding: 12px;
  /* height: 40px; */
  /* left: 540px;
top: 1534px; */

  background: #98dede;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  /* identical to box height, or 16px */

  color: #1a2236;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-content: center; */
  align-items: center;
}
.rectangle26{
  display: flex;
  justify-content: center;
  align-items: center;
}


.pagefour {
  width: 1440px;
  height: 726px;
  /* left: 0px; */
  /* top: 100px; */
  /* background: #ffffff; */
  background: sienna;
  box-shadow: 0px 0.5px 0px #dddfe6;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}
.fourleft {
  width: 50%;
  height: 100%;
  background: silver;
  display: flex;
  justify-content: center;
  align-items: center;
}
.habilities{
  width: 80%;
  height: 60%;
  background: gold;
  display: flex;
flex-wrap: wrap;
}

.languages{
  width: 50%;
  height: 50%;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  width: 80%;
  height: 80%;
  background: orchid;
}

.skillsyellow{
  width: 50%;
  height: 50%;
  background: red;
}

.frameworks{
  width: 50%;
  height: 50%;
  background: orange;
}

.fourright {
  width: 50%;
  height: 100%;
  background: gainsboro;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutgroup {
  width: 80%;
  height: 60%;
  background: gold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.aboutcv{
  /* position: absolute; */
  width: 295px;
  height: 110px;
  /* left: 834px;
  top: 3074px; */
  
  font-family: Playfair Display;
  font-style: normal;
  font-weight: normal;
  font-size: 110px;
  line-height: 100%;
  /* identical to box height, or 110px */
  
  
  color: #1A2236;
  
  /* border: 1px solid #1A2236; */
}

.aboutdescription {
  width: 446px;
height: 84px;
/* left: 834px;
top: 3214px; */

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #1A2236;
}

.cv{
  width: 254px;
height: 70px;
/* left: 834px;
top: 3340px; */

background: #1A2236;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.cvtext{
  /* position: absolute; */
width: 150px;
height: 27px;
/* left: 889px;
top: 3362px; */

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
}

.cvdownloadlogo{
  width: 40px;
  height: 17.79px;
/* left: 1014px;
top: 3363px; */

background: #FFFFFF;
}

